<section class="about-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2 class="title">Why hire me for your next project?</h2>
        </div>
      </div>
      <div class="col-12">
        <p>I'm a UX/UI consultant specializing in <strong>user research</strong> and <strong>experience design</strong>. I have a strong background in software development allows me to build <strong>rapid prototypes</strong>. My focus is on using <strong>UX methods</strong>          and <strong>usability testing</strong> to build genuinely user-centered products. I can help you analyze your users' behavior to create the <strong>optimum digital experience</strong> for them.</p>
      </div>
    </div>
  </div>
</section>