<div class="content-clients">
  <div class="row">
    <div class="col-lg-3 col-12">
      <div class="img"><img src="../img/clients/kaf.svg" alt=""></div>
    </div>
    <div class="col-lg-3 col-12">
      <div class="img"><img src="../img/clients/mint-creative.svg" alt=""></div>
    </div>
    <div class="col-lg-3 col-12">
      <div class="img"><img src="../img/clients/allconnect.svg" alt=""></div>
    </div>
    <div class="col-lg-3 col-12">
      <div class="img"><img src="../img/clients/narwhal-white.svg" alt=""></div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-12">
      <div class="img"><img src="../img/clients/jpmc.svg" alt=""></div>
    </div>
    <div class="col-lg-4 col-12">
      <div class="img"><img src="../img/clients/logo_sonymusic_wht.png" alt=""></div>
    </div>
    <div class="col-lg-4 col-12">
      <div class="img"><img src="../img/clients/morrison.svg" alt=""></div>
    </div>
  </div>
</div>