<div class="content-clients">
  <div class="row">
    <div class="col-lg-3 col-12">
      <div class="img"><img src="/assets/images/logos/kaf.svg" alt="King Arthur Flour"></div>
    </div>
    <div class="col-lg-3 col-12">
      <div class="img"><img src="/assets/images/logos/mint-creative.svg" alt="MINT Creative Co."></div>
    </div>
    <div class="col-lg-3 col-12">
      <div class="img"><img src="/assets/images/logos/allconnect-color.png" alt="Allconnect"></div>
    </div>
    <div class="col-lg-3 col-12">
      <div class="img"><img src="/assets/images/logos/narwhal-black.svg" alt="Narwhal Digital"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-12">
      <div class="img"><img src="/assets/images/logos/jpmc.svg" alt="JPMorganChase"></div>
    </div>
    <div class="col-lg-4 col-12">
      <div class="img"><img src="/assets/images/logos/sonymusic.jpg" alt="Sony Music"></div>
    </div>
    <div class="col-lg-4 col-12">
      <div class="img"><img src="/assets/images/logos/morrison.svg" alt="The Morrison Group"></div>
    </div>
  </div>
</div>