<section class="post-comment-aera">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-12">
        <div class="leave-comment">
          <h3 class="pca-title">Leave an Opinion</h3>
          <form action="#">
            <div class="row">
              <div class="col-lg-6 col-12">
                <div class="leave-comment-input-box">
                  <input type="text" placeholder="Full name">
                </div>
                <div class="leave-comment-input-box">
                  <input type="email" placeholder="Email address">
                </div>
                <div class="leave-comment-input-box">
                  <input type="submit" class="btn-style-1" value="POST OPINION">
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <div class="leave-comment-input-box">
                  <textarea placeholder="Start the opinion"></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="current-opinion">
          <h3 class="pca-title">Current Opinion</h3>
          <div class="comment-list">
            <ul>
              <li class="single-comment">
                <article>
                  <div class="comment-author">
                    <img src="img/single-blog/team-1.png" alt="">
                  </div>
                  <div class="comment-details">
                    <div class="comment-meta">
                      <div class="comment-left-meta">
                        <h4 class="author-name">James Bond</h4>
                      </div>
                      <div class="comment-reply">
                        <a href="#" class="reply">Reply</a>
                      </div>
                    </div>
                    <div class="comment-text">
                      <p>We’ve invested every aspect of how we serve our users over the past Pellentesque rutrum ante in nulla suscipit, vel posuere leo tristique. Interdum et malesuada fames.</p>
                    </div>
                  </div>
                </article>
                <ul class="children">
                  <li class="single-comment">
                    <article>
                      <div class="comment-author">
                        <img src="img/single-blog/team-2.png" alt="">
                      </div>
                      <div class="comment-details">
                        <div class="comment-meta">
                          <div class="comment-left-meta">
                            <h4 class="author-name">James Bond</h4>
                          </div>
                          <div class="comment-reply">
                            <a href="#" class="reply">Reply</a>
                          </div>
                        </div>
                        <div class="comment-text">
                          <p>We’ve invested every aspect of how we serve our users over the past Pellentesque rutrum ante in nulla suscipit, vel posuere leo tristique. Interdum et malesuada fames.</p>
                        </div>
                      </div>
                    </article>
                    <ul class="children">
                      <li class="single-comment">
                        <article>
                          <div class="comment-author">
                            <img src="img/single-blog/team-3.png" alt="">
                          </div>
                          <div class="comment-details">
                            <div class="comment-meta">
                              <div class="comment-left-meta">
                                <h4 class="author-name">James Bond</h4>
                              </div>
                              <div class="comment-reply">
                                <a href="#" class="reply">Reply</a>
                              </div>
                            </div>
                            <div class="comment-text">
                              <p>We’ve invested every aspect of how we serve our users over the past Pellentesque rutrum ante in nulla suscipit, vel posuere leo tristique. Interdum et malesuada fames.
                              </p>
                            </div>
                          </div>
                        </article>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="single-comment">
                <article>
                  <div class="comment-author">
                    <img src="img/single-blog/team-4.png" alt="">
                  </div>
                  <div class="comment-details">
                    <div class="comment-meta">
                      <div class="comment-left-meta">
                        <h4 class="author-name">James Bond</h4>
                      </div>
                      <div class="comment-reply">
                        <a href="#" class="reply">Reply</a>
                      </div>
                    </div>
                    <div class="comment-text">
                      <p>We’ve invested every aspect of how we serve our users over the past Pellentesque rutrum ante in nulla suscipit, vel posuere leo tristique. Interdum et malesuada fames.</p>
                    </div>
                  </div>
                </article>
              </li>
            </ul>
          </div>
        </div>
        <div class="post-pagination">
          <ul>
            <li class="active"><a href="#">01</a></li>
            <li><a href="#">02</a></li>
            <li class="disable"><a href="#">...</a></li>
            <li><a href="#">50</a></li>
            <li><a href="#"><i class="fas fa-caret-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>