<section class="hero-area">
  <div class="hero-element-1"><img src="img/home1/hero-element-1.png" alt=""></div>
  <div class="hero-element-2"><img src="img/home1/hero-element-2.png" alt=""></div>
  <div class="hero-element-3"><img src="img/home1/hero-element-3.png" alt=""></div>
  <div class="hero-element-4"><img src="img/home1/hero-element-4.png" alt=""></div>
  <div class="hero-banner"><img src="img/claire-art2.svg" alt=""></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="hero-content">
          <h3 class="intro">Hello, I’m</h3>
          <h2 class="title">Claire Annan</h2>
          <h3 class="desg">UX/UI Consultant. Content Management Expert. Senior Web Developer. User Advocate.</h3>
        </div>
      </div>
    </div>
  </div>
</section>