<section class="portfolio-area" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-12">
        <div class="portfolio-area-left-side">
          <div class="section-title">
            <h2 class="title">Projects & Case Studies</h2>
          </div>
          <ul class="nav nav-tabs" id="portfolioTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="commerce-tab" data-toggle="tab" href="#commerce" role="tab" aria-controls="commerce" aria-selected="false">E-commerce<span class="icon"><i class="fas fa-caret-right"></i></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="creative-tab" data-toggle="tab" href="#creative" role="tab" aria-controls="creative" aria-selected="true">Creative<span class="icon"><i class="fas fa-caret-right"></i></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link " id="technology-tab" data-toggle="tab" href="#technology" role="tab" aria-controls="technology" aria-selected="false">Technology<span class="icon"><i class="fas fa-caret-right"></i></span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9 col-12">
        <div class="portfolio-area-right-side">
          <div class="tab-content" id="portfolioTabContent">
            <div class="tab-pane fade show active" id="commerce" role="tabpanel" aria-labelledby="commerce-tab">
              <div class="row">
                <div class="col-sm-6 col-12">
                  <div class="single-item">
                    <a href="work/project-allconnect">
                      <img src="assets/images/projects/allconnect/port-allconnect-thumb.jpg" alt="Allconnect">
                      <div>
                        <h4>A Safer User Interface for Allconnect.com Redesign</h4>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-sm-6 col-12">
                  <div class="single-item">
                    <a href="/work/project-branded">
                      <img src="assets/images/projects/allconnect/port-branded-thumb.jpg" alt="Branded">
                      <div>
                        <h4>Building a Multisite Marketing Platform</h4>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-sm-6 col-12">
                  <div class="single-item">
                    <a href="/work/project-kaf">
                      <img src="assets/images/projects/kaf/kaf-about-header.png" alt="King Arthur Flour">
                      <div>
                        <h4>Baking a new frontend for King Arthur Flour</h4>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="creative" role="tabpanel" aria-labelledby="creative-tab">
              <div class="row">
                <div class="col-sm-6 col-12">
                  <div class="single-item">
                    <a href="work/case-study-third-and-grove">
                      <img src="assets/images/headers/austin-distel-svDX-GYdmRE-unsplash-thumb.jpg" alt="Third & Grove Case Study">
                      <div>
                        <strong>Case Study</strong>
                        <h4>Building a Drupal UI for Third & Grove Decoupled Gatsby Site</h4>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-sm-6 col-12">
                  <div class="single-item">
                    <a href="/work/case-study-mint-creative-co">
                      <img src="assets/images/headers/mint-diamond-daphne.jpg" alt="Third & Grove Case Study">
                      <div>
                        <strong>Case Study</strong>
                        <h4>Building a Drupal UI for Third & Grove Decoupled Gatsby Site</h4>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="technology" role="tabpanel" aria-labelledby="technology-tab">
              <div class="row">
                <div class="col-sm-6 col-12">
                  <div class="single-item">
                    <a href="/work/project-noblesys">
                      <img src="assets/images/projects/noblesys/port-noblesys-thumb.jpg" alt="Noble Systems">
                      <div>
                        <h4>Wordpress User Interface for Noble Systems Page Layouts</h4>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>