<section class="client-area" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-12">
        <div class="client-area-left-side">
          <div class="section-title">
            <p class="intro">Portfolio</p>
            <h2 class="title">Projects & Case Studies</h2>
          </div>
          <ul class="nav nav-tabs" id="clientTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="ui-tab" data-toggle="tab" href="#ui" role="tab" aria-controls="ui" aria-selected="true">User Interface<span class="icon"><i class="fas fa-caret-right"></i></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="research-tab" data-toggle="tab" href="#research" role="tab" aria-controls="research" aria-selected="false">Research<span class="icon"><i class="fas fa-caret-right"></i></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" id="design-tab" data-toggle="tab" href="#design" role="tab" aria-controls="design" aria-selected="true">Design<span class="icon"><i class="fas fa-caret-right"></i></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="testing-tab" data-toggle="tab" href="#testing" role="tab" aria-controls="testing" aria-selected="false">Usability Testing<span class="icon"><i class="fas fa-caret-right"></i></span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9 col-md-8 col-12">
        <div class="client-area-right-side">
          <div class="tab-content" id="clientTabContent">
            <div class="tab-pane fade show active" id="ui" role="tabpanel" aria-labelledby="ui-tab">
              <div class="row">
                <div class="col-lg-4 col-sm-6 col-12">
                  <div class="single-client">
                    <img src="img/portfolio/tag-home.png" alt="">
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                  <div class="single-client">
                    <img src="img/portfolio/kaf-about.png" alt="">
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                  <div class="single-client">
                    <img src="img/portfolio/port-noblesys-800.jpg" alt="">
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                  <div class="single-client">
                    <img src="img/portfolio/port-allconnect-800.jpg" alt="">
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                  <div class="single-client">
                    <img src="img/portfolio/port-branded-800.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="research" role="tabpanel" aria-labelledby="research-tab">
              <div class="row">
                <div class="col-lg-4 col-sm-6 col-12">
                  <div class="single-client">
                    <img src="img/portfolio/mintcreativeco.png" alt="">
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                  <div class="single-client">
                    <img src="img/portfolio/drupal_-_product_landing_page.png" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="design" role="tabpanel" aria-labelledby="design-tab">
              <div class="row">
                <div class="col-lg-4 col-sm-6 col-12">
                  <div class="single-client">
                    <img src="img/portfolio/mintcreativeco.png" alt="">
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                  <div class="single-client">
                    <img src="img/portfolio/drupal_-_product_landing_page.png" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="testing" role="tabpanel" aria-labelledby="testing-tab">
              <div class="row">
                <div class="col-lg-4 col-sm-6 col-12">
                  <div class="single-client">
                    <img src="img/portfolio/mintcreativeco.png" alt="">
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                  <div class="single-client">
                    <img src="img/portfolio/drupal_-_product_landing_page.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>