<section class="client-area" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-12">
        <div class="client-area-left-side">
          <div class="section-title">
            <p class="intro">Portfolio</p>
            <h2 class="title">Projects & Case Studies</h2>
          </div>
          <ul class="nav nav-tabs" id="clientTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="web-tab" data-toggle="tab" href="#web" role="tab" aria-controls="web" aria-selected="true">WEB<span class="icon"><i class="fas fa-caret-right"></i></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="ux-tab" data-toggle="tab" href="#ux" role="tab" aria-controls="country" aria-selected="false">UX/UI<span class="icon"><i class="fas fa-caret-right"></i></span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9 col-md-8 col-12">
        <div class="client-area-right-side">
          <div class="tab-content" id="clientTabContent">
            <div class="tab-pane fade show active" id="web" role="tabpanel" aria-labelledby="web-tab">
              <div class="row">
                <div class="col-lg-4 col-sm-6 col-12">
                  <div class="single-client">
                    <img src="img/portfolio/tag-home.png" alt="">
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                  <div class="single-client">
                    <img src="img/portfolio/kaf-about.png" alt="">
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                  <div class="single-client">
                    <img src="img/portfolio/port-noblesys-800.jpg" alt="">
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                  <div class="single-client">
                    <img src="img/portfolio/port-allconnect-800.jpg" alt="">
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                  <div class="single-client">
                    <img src="img/portfolio/port-branded-800.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="ux" role="tabpanel" aria-labelledby="ux-tab">
              <div class="row">
                <div class="col-lg-4 col-sm-6 col-12">
                  <div class="single-client">
                    <img src="img/portfolio/mintcreativeco.png" alt="">
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                  <div class="single-client">
                    <img src="img/portfolio/drupal_-_product_landing_page.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
