<section class="project-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <p class="intro">What's New</p>
          <h2 class="title">Blog & Stories</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="project-carousel owl-carousel">
    {% for post in site.posts %}
    <div class="single-project">
      <div class="img"><img src="{{ post.thumbnail }}" alt=""></div>
      <div class="content">
        <p class="type">{{ post.categories }}</p>
        <h2 class="title">{{ post.title }}</h2>
        <p class="text">{{ post.description }}</p>
        <a class="read btn-style-1" href="{{ post.url }}">READ MORE</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>