<!-- Footer -->
<footer>
  <div class="container">
    <div class="footer-top-area">
      <div class="row">
        <div class="col-lg-3 col-sm-4 col-12">
          <div class="f-logo">
            <a href="/" class="link"><img src="/img/logo-white.png" alt=""></a>
          </div>
        </div>
        <div class="col-lg-6 col-sm-4 col-12">
          <div class="f-title">
            <h2 class="title d-none d-lg-block">Let’s Chat!</h2>
            <div class="email-me">
              <a href="mailto:me@cannandev.com" class="link btn-style-1">Email Me</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-4 col-12">
          <div class="f-chat">
            <a href="http://linkedin.com/in/ClaireAnnan" class="link"><i class="fab fa-linkedin"></i></a>
            <a href="http://twitter.com/cannandev" class="link"><i class="fab fa-twitter"></i></a>
            <a href="https://github.com/cannandev" class="link"><i class="fab fa-github"></i></a>
            <a href="http://codepen.io/cannandev" class="link"><i class="fab fa-codepen"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom-area">
      <div class="footer-links">
        {% include nav.html %}
      </div>
      <div class="footer-copyright">
        <p class="copyright">© 2019 cannandev, All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
<!-- Scripts -->
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/jquery-ui.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/jquery.counterup.min.js"></script>
<script src="../js/countdown.js"></script>
<script src="../js/imagesloaded.pkgd.min.js"></script>
<script src="../js/isotope.pkgd.min.js"></script>
<script src="../js/jquery.magnific-popup.min.js"></script>
<script src="../js/jquery.scrollUp.js"></script>
<script src="../js/jquery.waypoints.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/theme.js"></script>
</body>

</html>