$primary-font: 'HK Grotesk Legacy';
$title-font: 'Playfair Display',
serif;
$light-color: #ffffff;
$dark-color: #030925;
$bg-color: $light-color;
$primary-bg: lighten($bg-color, 0.75);
$title-color: #ffffff;
$paragraph-color: #ffffff;
$link-color: #ffa200;
$hover-color: $light-color;