<section class="social-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <p class="intro">SOCIAL MEDIA</p>
                    <h2 class="title">Let’s Be Friends</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="single-social">
                    <h3 class="title">Linkeding</h3>
                    <p class="info">Professional social profile</p>
                    <span class="icon"><i class="fab fa-linkedin-in"></i></span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="single-social">
                    <h3 class="title">Dribbble</h3>
                    <p class="info">Design work social profile</p>
                    <span class="icon"><i class="fal fa-basketball-ball"></i></span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="single-social">
                    <h3 class="title">Instagram</h3>
                    <p class="info">Image base social communications</p>
                    <span class="icon"><i class="fab fa-instagram"></i></span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="single-social">
                    <h3 class="title">Twitter</h3>
                    <p class="info">Random thoughts</p>
                    <span class="icon"><i class="fab fa-twitter"></i></span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="single-social">
                    <h3 class="title">Medium</h3>
                    <p class="info">Work case study</p>
                    <span class="icon"><i class="fab fa-medium-m"></i></span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="single-social">
                    <h3 class="title">Email</h3>
                    <p class="info">hello@growth.digital</p>
                    <span class="icon"><i class="far fa-envelope"></i></span>
                </div>
            </div>
        </div>
    </div>
</section>