<div class="iha-meta">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 offset-lg-1 col-12">
        <div class="iha-all-meta">
          <div class="iha-meta-box">
            <p class="title">PUBLISH DATE</p>
            <p class="info">Jully 25, 2019</p>
          </div>
          <div class="iha-meta-box">
            <p class="title">CATEGORIES</p>
            <p class="info">Product Design</p>
          </div>
          <div class="iha-meta-box">
            <p class="title">READ TIME</p>
            <p class="info">10 Minutes</p>
          </div>
          <div class="iha-meta-box">
            <p class="title">SHARE</p>
            <p class="info">Facebook</p>
          </div>
          <div class="iha-meta-box">
            <p class="title"><span class="blank">d</span></p>
            <p class="info">Twitter</p>
          </div>
          <div class="iha-meta-box">
            <p class="title"><span class="blank">d</span></p>
            <p class="info">Linkedin</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>