<div class="col-lg-8 col-sm-4 col-7">
  <div class="main-menu stellarnav">
    <ul>
      <li><a href="">ABOUT</a></li>
      <li class="active"><a href="">WORKS</a>
        <ul>
          <li><a href="#">How deep?</a>
            <ul>
              <li><a href="#">Deep</a>
                <ul>
                  <li><a href="#">Even deeper</a>
                    <ul>
                      <li><a href="#">Item</a></li>
                      <li><a href="#">Item</a></li>
                      <li><a href="#">Item</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Item</a></li>
                  <li><a href="#">Item</a></li>
                  <li><a href="#">Item</a></li>
                </ul>
              </li>
              <li><a href="#">Item</a></li>
              <li><a href="#">Item</a></li>
              <li><a href="#">Item</a></li>
              <li><a href="#">Item</a></li>
            </ul>
          </li>
          <li><a href="#">Item</a>
            <ul>
              <li><a href="#">Item</a></li>
              <li><a href="#">Item</a></li>
              <li><a href="#">Item</a></li>
              <li><a href="#">Item</a></li>
            </ul>
          </li>
          <li><a href="#">Item</a>
            <ul>
              <li><a href="#">Deeper</a>
                <ul>
                  <li><a href="#">Item</a></li>
                  <li><a href="#">Item</a></li>
                  <li><a href="#">Item</a></li>
                </ul>
              </li>
              <li><a href="#">Item</a></li>
              <li><a href="#">Item</a></li>
              <li><a href="#">Item</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="">CASE STUDY</a></li>
      <li><a href="">CLIENTS</a></li>
      <li><a href="">CONTACT</a></li>
    </ul>
  </div>
</div>