<section class="testimonial-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <p class="intro">Clients</p>
                    <h2 class="title">Testimonials</h2>
                </div>
            </div>
        </div>
        <div class="testimonial-carousel owl-carousel">
            <div class="single-testimonial">
                <div class="info">
                    <div class="img"><img src="img/home1/photo-1534528741775-53994a69daeb.png" alt=""></div>
                    <div class="info-right">
                        <h3 class="name">Martha Sandoval</h3>
                        <p class="desg">Product Designer at CodeNext</p>
                    </div>
                </div>
                <p class="text">We are motivated by the satisfaction of our clients. Put your trust in us and share in our growth Asset Management is made up of a team of expert, committed and experienced people with a passion for financial markets. Our goal is to achieve
                    continuous and sustainable growth of our clients.</p>
            </div>
            <div class="single-testimonial">
                <div class="info">
                    <div class="img"><img src="img/home1/photo-1545975645-ea9501a81d76.png" alt=""></div>
                    <div class="info-right">
                        <h3 class="name">Mildred Meyer</h3>
                        <p class="desg">Product Designer at CodeNext</p>
                    </div>
                </div>
                <p class="text">We are motivated by the satisfaction of our clients. Put your trust in us and share in our growth Asset Management is made up of a team of expert, committed and experienced people with a passion for financial markets. Our goal is to achieve
                    continuous and sustainable growth of our clients.</p>
            </div>
            <div class="single-testimonial">
                <div class="info">
                    <div class="img"><img src="img/home1/photo-1534528741775-53994a69daeb.png" alt=""></div>
                    <div class="info-right">
                        <h3 class="name">Martha Sandoval</h3>
                        <p class="desg">Product Designer at CodeNext</p>
                    </div>
                </div>
                <p class="text">We are motivated by the satisfaction of our clients. Put your trust in us and share in our growth Asset Management is made up of a team of expert, committed and experienced people with a passion for financial markets. Our goal is to achieve
                    continuous and sustainable growth of our clients.</p>
            </div>
            <div class="single-testimonial">
                <div class="info">
                    <div class="img"><img src="img/home1/photo-1545975645-ea9501a81d76.png" alt=""></div>
                    <div class="info-right">
                        <h3 class="name">Mildred Meyer</h3>
                        <p class="desg">Product Designer at CodeNext</p>
                    </div>
                </div>
                <p class="text">We are motivated by the satisfaction of our clients. Put your trust in us and share in our growth Asset Management is made up of a team of expert, committed and experienced people with a passion for financial markets. Our goal is to achieve
                    continuous and sustainable growth of our clients.</p>
            </div>
        </div>
    </div>
</section>