<section class="client-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <div class="client-area-left-side">
                    <div class="section-title">
                        <p class="intro">Portfolio</p>
                        <h2 class="title">Projects & Case Studies</h2>
                    </div>
                    <ul class="nav nav-tabs" id="clientTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="world-tab" data-toggle="tab" href="#world" role="tab" aria-controls="world" aria-selected="true">WORLDWIDE <span class="icon"><i class="fas fa-caret-right"></i></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="country-tab" data-toggle="tab" href="#country" role="tab" aria-controls="country" aria-selected="false">MY COUNTRY <span class="icon"><i class="fas fa-caret-right"></i></span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-12">
                <div class="client-area-right-side">
                    <div class="tab-content" id="clientTabContent">
                        <div class="tab-pane fade show active" id="world" role="tabpanel" aria-labelledby="world-tab">
                            <div class="row">
                                <div class="col-lg-4 col-sm-6 col-12">
                                    <div class="single-client">
                                        <img src="img/home1/decisive-farming.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-12">
                                    <div class="single-client">
                                        <img src="img/home1/ama-prom-baltic.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-12">
                                    <div class="single-client">
                                        <img src="img/home1/louisiana-plumbing.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-12">
                                    <div class="single-client">
                                        <img src="img/home1/belrosstroj-858.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-12">
                                    <div class="single-client">
                                        <img src="img/home1/belrosstroj-858.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-12">
                                    <div class="single-client">
                                        <img src="img/home1/beot.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="country" role="tabpanel" aria-labelledby="country-tab">
                            <div class="row">
                                <div class="col-lg-4 col-sm-6 col-12">
                                    <div class="single-client">
                                        <img src="img/home1/decisive-farming.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-12">
                                    <div class="single-client">
                                        <img src="img/home1/belrosstroj-858.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-12">
                                    <div class="single-client">
                                        <img src="img/home1/belrosstroj-858.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-12">
                                    <div class="single-client">
                                        <img src="img/home1/beot.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>