<section class="info-tab-area">
  <div class="tab-bg-element"><img src="img/home1/tab-bg-elements.png" alt=""></div>
  <div class="container">
    <div class="info-tab">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="true">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="skills-tab" data-toggle="tab" href="#skills" role="tab" aria-controls="skills" aria-selected="false">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="clients-tab" data-toggle="tab" href="#clients" role="tab" aria-controls="clients" aria-selected="false">Clients</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
          <div class="content-about">
            <div class="row">
              <div class="col-lg-6 col-12">
                <div class="banner"><img class="align-middle" src="img/afro-american-woman-superhero.svg" alt="">
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <div class="content">
                  <p class="intro">ABOUT</p>
                  <h2 class="title">Why hire me for your next project?</h2>
                  <p class="text">After 20 years as a web developer, I moved into UX to I help companies implement UX and Web Development best practices to solve business challenges. I focus on user research and information architecture to build Content Management Systems.
                    I'm an advocate for "behind the scenes" users and want to keep the user's successful journey at the center of all decisions.
                  </p>
                  <p class="text">
                    A “What are all the things we don't know?” researcher and experienced senior developer with a proven track record helping teams digest and use research data to shape product and design decisions. Smart data solutions that put the user first is a top priority
                    of mine. I am effective and knowledgeable in working with cultures worldwide gained from years of international travel and volunteering. I am fluent (spoken, read, written) in Portuguese.
                  </p>
                  <a class="more btn-style-1" href="/about">LEARN MORE</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="skills" role="tabpanel" aria-labelledby="skills-tab">
          <div class="content-service">
            <div class="row">
              <div class="col-lg-4 col-sm-6 col-12">
                <div class="single-service">
                  <div class="icon">
                    <span class="icon-box"><i class="fab fa-react"></i></span>
                  </div>
                  <div class="content">
                    <h4 class="title">Modular Architecture</h4>
                    <p class="text">Analyze project mockups and wireframes with the goal of isolating UI modules, promoting component driven code and better handoffs between teams.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-12">
                <div class="single-service">
                  <div class="icon">
                    <span class="icon-box"><i class="fas fa-mobile-alt"></i></span>
                  </div>
                  <div class="content">
                    <h4 class="title">Responsive Web Design</h4>
                    <p class="text">Strong understanding of grid-based layouts for mobile and tablet resources. Demonstrated experience with responsive best practices. </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-12">
                <div class="single-service">
                  <div class="icon">
                    <span class="icon-box"><i class="fab fa-drupal"></i><i class="fab fa-wordpress"></i></span>
                  </div>
                  <div class="content">
                    <h4 class="title">UI Development</h4>
                    <p class="text">Build design systems, living style guides and themes for Drupal and Wordpress. Keep up-to-date with industry CSS preprocessors and templating systems.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-12">
                <div class="single-service">
                  <div class="icon">
                    <span class="icon-box"><i class="far fa-address-card"></i></span>
                  </div>
                  <div class="content">
                    <h4 class="title">UX Research</h4>
                    <p class="text">Lead user research using important UX methodologies such as usability tests, card sorts, and moderated interviews.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-12">
                <div class="single-service">
                  <div class="icon">
                    <span class="icon-box"><i class="far fa-user"></i></span>
                  </div>
                  <div class="content">
                    <h4 class="title">Content Manager Advocate</h4>
                    <p class="text">The voice of content management administrators. Include admins in user personas to build flexible and functional administrative interfaces.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 col-12">
                <div class="single-service">
                  <div class="icon">
                    <span class="icon-box"><i class="far fa-tachometer-alt-fastest"></i></span>
                  </div>
                  <div class="content">
                    <h4 class="title">Usability and Accessibility Mindset</h4>
                    <p class="text">Evangelize human-centered approaches early in an Agile life cycle with audits and iterative testing.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="clients" role="tabpanel" aria-labelledby="clients-tab">
          <div class="content-clients">
            <div class="row">
              <div class="col-lg-3 col-12">
                <div class="img"><img src="img/clients/kaf.svg" alt=""></div>
              </div>
              <div class="col-lg-3 col-12">
                <div class="img"><img src="img/clients/mint-creative.svg" alt=""></div>
              </div>
              <div class="col-lg-3 col-12">
                <div class="img"><img src="img/clients/allconnect.svg" alt=""></div>
              </div>
              <div class="col-lg-3 col-12">
                <div class="img"><img src="img/clients/narwhal-white.svg" alt=""></div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-12">
                <div class="img"><img src="img/clients/jpmc.svg" alt=""></div>
              </div>
              <div class="col-lg-4 col-12">
                <div class="img"><img src="img/clients/logo_sonymusic_wht.png" alt=""></div>
              </div>
              <div class="col-lg-4 col-12">
                <div class="img"><img src="img/clients/morrison.svg" alt=""></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>