{% include header.html %}
<section class="page-blog-area">
  <div class="container">
    <div class="row">
      <h1>{{ page.title }}</h1>
      <p>{{ page.description }}</p>
      {{ content }}
    </div>
    <div class="row">
      <div class="col-lg-8 col-12">
        <div class="page-all-blog">
          <div class="row justify-content-center">
            {% for post in site.posts %}
            <div class="col-lg-6 col-sm-6 col-12">
              <div class="single-related-article">
                <div class="img">
                  <a href="{{ post.url }}"><img src="img/single-blog/related-1.png" alt="{{ post.title }}"></a>
                </div>
                <div class="content">
                  <p class="date">{{ post.date }}</p>
                  <h4 class="title">{{ post.title }}</h4>
                  <p class="text">{{ post.description }}</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include footer.html %}